:root {
    --white: #F8F8F8;
    --black: #303030;
    --gray: #D9D9D9;
    --yellow: #F8EAD1;
    --blue: #D1EDF8;
    --red: #F8D6D1;
}

/* common */
.hidden { display: none; }

html { height: 100%; }
body {  
    font-family: 'Noto Sans KR', sans-serif; 
    color: var(--black);
    background-color: var(--white);
    min-height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

input {
    background-color: var(--white);
    color: var(--black);
    border: 0 solid;
    border-bottom: 2px solid var(--black);
}

input:focus {
    outline: none;
}

#login-input {
    width: 450px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

#login-title { 
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: var(--black);
    margin-bottom: 30px;
}

#main-form {
    width: 1200px;
    height: 700px;
    border: 2px solid;
    border-color: var(--black);
    position: relative;
}

header {
    margin-top: 30px;
    margin-left: 30px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.line {
    background-color: var(--yellow);
    width: 280px;
}

nav {
    position: absolute;
    top: 30px;
    right: 35px;
    font-weight: bold;
}

button {
    border: 0;
    outline: 0;
    background-color: var(--white);
    line-height: 0;
}

main {
    width: 1140px;
    height: 550px;
    margin-top: 40px;
    margin-left: 30px;
}

.clock-area, .weather-area {
    width: 250px;
    height: 250px;
    border: 2px solid var(--black);
}

.weather-area {
    position: absolute;
    margin-top: -254px;
    margin-left: 290px;
}

.weather1, .weather2 {
    position: relative; 
    width: 250px;
    height: 125px;
}

.weather2 {
    margin-top: 30px; 
    text-align: center;
}

#weatherIcon {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

#temp {
    position: absolute;
    margin-top: 60px;
    margin-left: 150px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#city, #weather {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#weather {
    background-color: var(--blue);
}

.quote-area {
    width: 540px;
    height: 250px;
    border: 2px solid var(--black);
    position: absolute;
    margin-top: 35px;
}

.img {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 150px;
    object-fit: cover;
}

#quotes {
    width: auto;
    height: 60px;
    margin-top: 190px;
    padding: 0 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#author {
    display: inline-block;
    margin-top: 13px;
    background-color: var(--gray);
}

.todo-area {
    width: 550px;
    height: 540px;
    border: 2px solid var(--black);
    position: absolute;
    margin-left: 580px;
    margin-top: -256px;
}

#todo-title {
    width: 550px;
    height: 70px;
    margin-top: 30px;
    text-align: center;
}

#todo-title span{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    background-color: var(--red);
}

#todo-content {
    width: 550px;
    height: 440px;
}

#todo-input {
    width: 433px;
    height: 20px;
    margin-left: 55px;
}

.scroll {
    width: 460px;
    height: 400px;
    margin-left: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

#todo-list {
    width: 440px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 55px;
    margin-bottom: 20px;
}

.todo-li {
    height: 35px;
}

.delete-btn {
    width: 10px;
    height: 10px;
}

footer {
    bottom: 20px;
    position: absolute;
    font-size: 15px;
}
